<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2025 The LineageOS Project
  SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.frameworksres.overlay.kobe2lte">

    <application android:hasCode="false" />
    <overlay
      android:targetPackage="android"
      android:requiredSystemPropertyName="ro.boot.product.hardware.sku"
      android:requiredSystemPropertyValue="KOB2-L.*"
      android:isStatic="true"
      android:priority="200" />
</manifest>
